// Fonts //
@font-face {
  font-family: banjoKazooie;
  src: url('../fonts/AndyBold.ttf');
}

// Custom colors //
$yellow: #FDF679;

// Styling //

body {
  background-color: $yellow;
  font-family: banjoKazooie;
  background-image: url("../../components/images/Background.jpg");
  background-position-y: 6%;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  height: 60px;
  border-bottom: 1px solid grey;
  box-shadow: 4px 4px 20px black;
  display: flex;
  justify-content: space-between;
  background-color: #73A1F6;
  padding-right: 24px;
  img {
    height: 100%;
  }
}


.login-page {
  display: flex;
  position:absolute;
  top: 25%;
  left: 6%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #8EE190;
  height: 400px;
  width: 600px;
  border-radius: 50%;
  box-shadow: 4px 4px 20px black;
  padding: 16px;
  h5 {
    margin: 8px 0 32px 0;
    color: #E8CF00;
    text-shadow: 1px 1px 5px black;
  }
  input {
    margin-left: 8px;
  }
  button {
    width: 160px;
    margin: 16px;
  }
  img {
    height: 100px;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  #mute {
    height: 16px;
    cursor: pointer;
  }
}

.bounce {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-80px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  grid-auto-rows: minmax(100px, auto);
  padding: 12px;
  border-radius: 8px;
  height: 540px;
  width: 540px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  margin-top: 32px;
}

.image {
  border-radius: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 8px;
  background-color: $yellow;
  box-shadow: 4px 4px 4px grey;
  transition: 0.2s;
  &:hover {
    opacity: 50%;
  }
}

.game {
  justify-content: center;
}