// Fonts //
@font-face {
  font-family: banjoKazooie;
  src: url('../fonts/AndyBold.ttf');
}

// Custom colors //
$yellow: #fdf679;
$green: #8ee190;
$blue: #73a1f6;
$white: #f8f8f8;

// Styling //

body {
  background-color: $yellow;
  font-family: banjoKazooie;
  background-image: url('../../components/images/Background.jpg');
  background-position: 20% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid grey;
  box-shadow: 0 4px 20px black;
  display: flex;
  justify-content: space-between;
  background-color: #73a1f6;
  padding-right: 24px;

  &__logo {
    height: 100%;

    &--clickable {
      cursor: pointer;
    }
  }
}

.start-screen {
  width: 100%;
  text-align: center;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  .start-btn-container {
    button {
      margin: 70px 60px 0 60px;
      width: 120px;
      border: 1px solid black;
    }
  }
  .footer {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    .text-center {
      padding: 0 8px 0 8px;
    }
  }
}

.login-screen {
  display: flex;
  align-items: center;
  height: 600px;
  .login-page {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 32px;
    padding: 12px;
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #8ee190;
      height: 400px;
      width: 600px;
      border-radius: 50%;
      box-shadow: 4px 4px 20px black;
      padding: 16px;
      h5 {
        margin: 8px 0 32px 0;
        color: #e8cf00;
        text-shadow: 1px 1px 5px black;
      }
      button {
        width: 160px;
        margin: 16px;
        border-radius: 8px !important;
      }
      img {
        height: 100px;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
    }
  }
}

.login-wrapper {
  .login-mute-container {
    text-align: end;
    margin: 32px 32px 0 32px;
    .login-mute-btn {
      height: 24px;
      cursor: pointer;
    }
  }
  .login-instructions {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .instructions {
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 50px;
      width: 500px;
      padding: 16px 32px 16px 32px;
      // margin: 0 32px 0 32px;
      box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.7);
      text-align: center;
      color: $white;
      p {
        margin: 16px 0 0 0;
        font-size: 16px;
      }
      img {
        width: 200px;
      }
    }
  }
}

input[type='text'] {
  border: 2px solid #ccc;
  transition: 0.5s;
  outline: none;
  border-radius: 4px;
  &:focus {
    border: 2px solid #555;
  }
}

.bounce {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-80px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes bounce-mobile {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-24px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  grid-auto-rows: minmax(100px, auto);
  padding: 12px;
  border-radius: 8px;
  height: 600px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 32px;

  &__image {
    border: none;
    border-radius: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8px;
    background-color: $yellow;
    box-shadow: 4px 4px 4px grey;
    transition: 0.2s;

    &--blank {
      background-color: $white;
    }
  }
}

.game {
  display: flex;
  height: 630px;
}

.game-left {
  flex: 1;
  margin: 64px 32px 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img {
    width: 240px;
    height: auto;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  .end-game-left {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .end-game-left-message {
      display: flex;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 50px;
      width: 400px;
      padding: 4px 16px 4px 16px;
      box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.7);
      text-align: left;
      p {
        color: $white;
        margin: 0;
        padding-left: 8px;
      }
      img {
        width: 60px;
      }
    }
    .final-score {
      padding: 40px;
      // box-shadow: 0px 0px 8px 8px rgba(248, 248, 248, 0.7);
      border-radius: 50%;
      h1 {
        margin: 0;
      }
    }
    .btn {
      width: 200px;
      height: 60px;
      border-radius: 32px;
      box-shadow: 4px 4px 20px black;
    }
  }
}

.game-right {
  flex: 1;
  margin: 32px 32px 0 32px;
  .game-mute-container {
    text-align: end;
    .game-mute-btn {
      height: 24px;
      cursor: pointer;
    }
  }
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  // letter-spacing: .15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end);
  // blink-caret .75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
// @keyframes blink-caret {
//   from, to { border-color: transparent }
//   50% { border-color: orange; }
// }

// MEDIA QUERIES BELOW //

@media (max-width: 768px) {
  .start-screen {
    .footer {
      display: block;
      font-size: 14px;
      p {
        margin-bottom: 8px;
      }
      .text-center {
        display: none;
      }
      .text-left,
      .text-right {
        text-align: center !important;
      }
    }
  }
  .navbar {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid grey;
    box-shadow: 0 4px 20px black;
    display: flex;
    justify-content: space-between;
    background-color: #73a1f6;
    padding-right: 18px;
    font-size: 14px;

    &__logo {
      height: auto;
      width: 60px;
    }
  }

  .start-screen {
    .start-btn-container {
      display: flex;
      button {
        margin: 100px 30px 0 30px;
        width: 100px;
      }
    }
  }

  .login-wrapper {
    .login-mute-container {
      margin: 0;
      .login-mute-btn {
        height: 16px;
        position: absolute;
        top: 74px;
        right: 14px;
      }
    }
    .login-screen {
      display: block;
      height: 630px;
      .login-page {
        margin-top: 12px;
        form {
          justify-content: center;
          height: 300px;
          width: 450px;
          h5 {
            margin: 8px 0 16px 0;
            font-size: 18px;
          }
          label {
            font-size: 14px;
          }
          button {
            width: 120px;
            height: 36px;
            margin: 0;
          }
          img {
            height: 72px;
            animation-duration: 0s;
          }
          .bounce {
            animation-name: bounce-mobile;
          }
        }
      }
      .login-instructions {
        flex: 1;
        .instructions {
          background-color: rgba(0, 0, 0, 0.7);
          border-radius: 50px;
          width: auto;
          padding: 16px 24px 16px 24px;
          margin: 24px 12px 24px 12px;
          box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.7);
          text-align: center;
          color: $white;
          h1 {
            font-size: 28px;
          }
          p {
            margin: 16px 0 0 0;
            font-size: 14px;
          }
          img {
            width: 125px;
          }
        }
      }
    }
  }

  .game {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .images {
      width: auto;
      height: auto;
      margin: 16px 8px 16px 8px;
    }
    .game-left {
      align-items: center;
      margin: 40px 16px 24px 16px;
    }
    .bounce {
      animation-name: bounce-mobile;
      order: 0;
    }
    .game-right {
      height: auto;
      margin: 16px;
      // display: flex;
      // flex-direction: column;
      // justify-content: flex-end;
      .game-mute-container {
        .game-mute-btn {
          height: 16px;
          position: absolute;
          top: 74px;
          right: 14px;
        }
      }
    }
    .end-game-left {
      order: 1;
      margin-top: 40px;
      height: 300px;
      // .final-score {
      //   display: none;
      // }
      .end-game-left-message {
        width: 100%;
        padding: 4px 16px 4px 16px;
      }
    }
  }
}

@media (max-width: 1124px) {
  .login-wrapper {
    .login-screen {
      .login-page {
        form {
          height: 300px;
          width: 500px;
          h5 {
            margin: 8px 0 16px 0;
            font-size: 18px;
          }
          label {
            font-size: 14px;
          }
          button {
            width: 120px;
            height: 36px;
            margin: 0;
          }
          img {
            height: 72px;
            animation-duration: 3s;
          }
          .bounce {
            animation-name: bounce-mobile;
          }
        }
      }
      .login-instructions {
        .instructions {
          width: 450px;
          h1 {
            font-size: 26px;
          }
          p {
            font-size: 14px;
          }
          img {
            width: 175px;
          }
        }
      }
    }
  }
}

@media (max-width: 976px) {
  .login-wrapper {
    .login-screen {
      .login-page {
        form {
          height: 300px;
          width: 360px;
        }
      }
      .login-instructions {
        .instructions {
          width: 350px;
          img {
            width: 150px;
          }
        }
      }
    }
  }
}
